main {
  display: flex;
}

.sidebar {
  overflow-y: scroll;
  min-width: 240px;
  margin-right: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px 0 10px;
  text-decoration: none;
}
