.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p, h1, h2 {
  font-family: "Roboto","Arial",sans-serif;;
}

/* FIXME: This is section spills over to the edge without being hidden */
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 0;
  width: 80%;
  overflow-x: scroll;
  scrollbar-width: none;

}

.nav-links li {
  margin: 0 10px 0;
  border-radius: 5px;
  background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(154, 154, 154, 0.2));
  padding: 6px;
  white-space: nowrap;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.nav-links li a {
  padding: 10px;
}

.nav-links li:hover {
  background-color: light-dark(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.2));
  cursor: pointer;
}

.recommended {
  height: 58%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

.video {
  margin-bottom: 30px;
  margin-right: 10px;
  color: light-dark(black, white);
}

.video img {
  border-radius: 10px;
}

.video-title,
.video-channel {
  margin: 5px 0;
}

.video-link {
  text-decoration: none;
  color: black;
}

.video-views {
  margin: 0;
}

.video-title, .video-views {
  font-size: 15px;
}
