:root {
  color-scheme: light dark;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: light-dark(white, black);
}

p, h1, h2, a {
  font-family: "Roboto","Arial",sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  width: 80%;
  overflow-x: scroll;
  scrollbar-width: none;

  /* Hiding circular dials */
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  /* Defining how we want the labels to look when unselected */
  label {
    display: block;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: light-dark(rgba(0, 0, 0, 0.04), rgba(154, 154, 154, 0.2));
    padding: 6px;
    white-space: nowrap;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  label:hover {
    background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
    cursor: pointer;
  }

  /* These styles are applied to the radio button that is selected, as well as the following label */
  input[type="radio"]:checked + label {
    background-color: light-dark(black, white);
    color: light-dark(white, black);
  }
}


.recommended {
  height: 58%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

.video {
  margin-bottom: 30px;
  margin-right: 10px;
  color: light-dark(black, white);
  width: 373px;
}

.video-title {
  /*text-wrap: wrap;*/
  /*  TODO: Set max lines for title wrap */
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 20px
}

.video-info {
  display: flex;
}



.video-channel {
  color: rgb(163, 161, 161);
  text-decoration: none;
}

.video-title,
.video-channel {
  margin: 5px 0;
}


.video-link {
  text-decoration: none;
  color: black;

  img {
    border-radius: 10px;
  }
}

.video-views {
  margin: 0;
  font-size: 15px;
}

.channel-icon {
  margin-right: 5px;

  img {
    border-radius: 20px;
  }
}
