.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-bar {
  display: flex;
}

.option-buttons {
  align-items: baseline;
  justify-content: center;
}

.latest-videos {
  height: 58%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: scroll;
  /* margin-left: 7%; */
}

.video {
  margin-bottom: 30px;
  margin-right: 10px;
}

.video-title,
.video-channel {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-views {
  margin: 0;
}
