.video-and-comments-container {
  flex: 2;
  margin: 10px;
}

.recommended-videos {
  flex: 1;
}

.sidebar {
  display: none;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.add-comment-container {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.buttons {
  float: inline-end;
  display: none;
}

#new-comment {
  width: 100%;
}

.channel {
  display: flex;
  align-items: start;
}

.channel-info p {
  margin: 0;
}

.video-description-container {
  margin: 1rem;
  background-color: gainsboro;
  padding: 1rem;
  border-radius: 10px;
}

.profile {
  margin-right: 1rem;
}

.comment {
  display: flex;
  align-items: start;
  margin-bottom: 2rem;
}

.channel-and-age {
  display: flex;
}

.channel-and-age p {
  margin: 0;
  margin-right: 10px;
}
