.video-and-comments-container {
  flex: 2;
  border: 1px solid black;
  margin: 10px;
}

.recommended-videos {
  flex: 1;
}

.sidebar {
  display: none;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.channel {
  display: flex;
  align-items: start;
}

.channel-info {
  margin: 0;
}

.video-description-container {
  margin: 1rem;
  background-color: gainsboro;
  padding: 1rem;
  border-radius: 10px;
}
