{% load static %}
<link rel="stylesheet" href="{% static 'css/header-styles.css' %}" />

<section class="top-bar">
  <div>
    <button>menu</button>
    <a href="{% url "home" %}">YouTube</a>
  </div>
  <div style="display: flex">
    <form action="/" method="post">
      <input
        type="text"
        name="search-filter"
        id="search-filter"
        placeholder="Search"
      />
      <button type="submit">[search icon]</button>
    </form>
    <button type="button">[mic icon]</button>
  </div>
  <div>
    {% if user.is_authenticated %}
    <button type="button">+ Create</button>
    <button type="button">[bell icon]</button>
    <button type="button">[profile icon]</button>
    {% else %}
    <a href="authentication/login/">Sign in</a>
    {% endif %}
  </div>
</section>
