<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/base-styles.css' %}" />
    {% block styles %} {% endblock %}
  </head>
  <body>
    {% include "authentication/header.html" %}
    <main>
      <aside class="sidebar">
        <!-- TODO: add links -->
        <ul>
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="">Shorts</a></li>
          <li><a href="{% url "subscriptions" %}">Subscriptions</a></li>
          <li><a href="">YouTube Music</a></li>
        </ul>
        <hr />
        <ul>
          <li><a href="">You -></a></li>
          <li><a href="{% url "history" %}">History</a></li>
          <li><a href="{% url "playlists" %}">Playlists</a></li>
          <li><a href="">Your videos</a></li>
          <li><a href="">Watch later</a></li>
          <li><a href="">Your podcasts</a></li>
          <li><a href="">Liked videos</a></li>
          <li><a href="">Downloads</a></li>
        </ul>
        <hr />
        <h3>Subscriptions</h3>
        <ul>
          <li><a href=""></a></li>
        </ul>
        <hr />
        <h3>Explore</h3>
        <ul>
          <li><a href="">Trending</a></li>
          <li><a href="">Music</a></li>
          <li><a href="">Movies & TV</a></li>
          <li><a href="">Live</a></li>
          <li><a href="">Gaming</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Sports</a></li>
          <li><a href="">Learning</a></li>
          <li><a href="">Fashion & Beauty</a></li>
          <li><a href="">Podcasts</a></li>
          <li><a href="">Playables</a></li>
        </ul>
        <hr />
        <h3>More from YouTube</h3>
        <ul>
          <li><a href="">YouTube Studio</a></li>
          <li><a href="">YouTube Music</a></li>
          <li><a href="">YouTube Kids</a></li>
        </ul>
        <hr />
        <ul>
          <li><a href="">Settings</a></li>
          <li><a href="">Report history</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Send feedback</a></li>
        </ul>
      </aside>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
