{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Sign in - YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'authentication/login-page-styles.css' %}"
/>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <h1 class="titleee">Sign in</h1>

  <form action="#" method="post" class="login-form">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>
    Don't have an account? Sign up <a href="/authentication/sign-up/">here</a>.
  </p>
</section>
{% endblock %}
