{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Sign up - YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'authentication/sign-up-page-styles.css' %}"
/>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <h1 class="titleee">Sign up</h1>

  <form action="#" method="post" class="sign-up-form" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Create account</button>
  </form>
  <p>
    Already have an account? Sign in
    <a href="/authentication/sign-in/">here</a>.
  </p>
</section>
{% endblock %}
