:root {
  color-scheme: light dark;
}

main {
  display: flex;
}

.body {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

/* TODO: Make scrollable */
.sidebar {
  overflow-y: scroll;
  min-width: 240px;
  padding-right: 30px;
  max-height: fit-content;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li a {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  color: light-dark(black, white); !important;
}

.sidebar li {
  padding: 10px;
}

.sidebar li:hover {
  background-color: #e6e6e6;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar li a,
.sidebar h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
