{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/home-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% load static %}
<script src="{% static 'home/js/home.js' %}"></script>
<script>
  // let get_subscriptions_url = "{% url 'get-subscriptions' %}";
  let filter_videos_url = "{% url 'filter-videos' %}"
  let view_channel_url = "{% url 'view-channel' channel_username=1234 %}"
  let watch_video_url = "{% url 'watch-video' video_id=1234 %}"
</script>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <ul class="nav-links">
    <!-- TODO: Use fetch api -->
    <li>
      <input type="radio" name="filter" id="all" value="all" onclick="fetchFeed()" checked>
      <label for="all">All</label>
    </li>
    <li>
      <input type="radio" name="filter" id="gaming" value="gaming" onclick="fetchFeed()">
      <label for="gaming">Gaming</label>
    </li>
    <li>
      <input type="radio" name="filter" id="yugioh-5ds" value="yugioh-5ds" onclick="fetchFeed()">
      <label for="yugioh-5ds">Yu-Gi-Oh! -5Ds</label>
    </li>
    <li>
      <input type="radio" name="filter" id="mixes" value="mixes" onclick="fetchFeed()">
      <label for="mixes">Mixes</label>
    </li>
    <li>
      <input type="radio" name="filter" id="vegeta" value="vegeta" onclick="fetchFeed()">
      <label for="vegeta">Vegeta</label>
    </li>
    <li>
      <input type="radio" name="filter" id="comic-books" value="comic-books" onclick="fetchFeed()">
      <label for="comic-books">Comic books</label>
    </li>
    <li>
      <input type="radio" name="filter" id="live" value="live" onclick="fetchFeed()">
      <label for="live">Live</label>
    </li>
    <li>
      <input type="radio" name="filter" id="gyms" value="gyms" onclick="fetchFeed()">
      <label for="gyms">Gyms</label>
    </li>
    <li>
      <input type="radio" name="filter" id="computer-programming" value="computer-programming" onclick="fetchFeed()">
      <label for="computer-programming">Computer programming</label>
    </li>
    <li>
      <input type="radio" name="filter" id="software-engineering" value="software-engineering" onclick="fetchFeed()">
      <label for="software-engineering">Software Engineering</label>
    </li>
    <li>
      <input type="radio" name="filter" id="manga" value="manga" onclick="fetchFeed()">
      <label for="manga">Manga</label>
    </li>
    <li>
      <input type="radio" name="filter" id="dbs" value="dbs" onclick="fetchFeed()">
      <label for="dbs">Dragon ball Super</label>
    </li>
    <li>
      <input type="radio" name="filter" id="ShotGunRaids" value="ShotGunRaids" onclick="fetchFeed()">
      <label for="ShotGunRaids">ShotGunRaids</label>
    </li>
    <li>
      <input type="radio" name="filter" id="Belief" value="Belief" onclick="fetchFeed()">
      <label for="Belief">Belief</label>
    </li>
    <li>
      <input type="radio" name="filter" id="Smartphones" value="Smartphones" onclick="fetchFeed()">
      <label for="Smartphones">Smartphones</label>
    </li>
    <li>
      <input type="radio" name="filter" id="recently-uploaded" value="recently-uploaded" onclick="fetchFeed()">
      <label for="recently-uploaded">Recently uploaded</label>
    </li>
    <li>
      <input type="radio" name="filter" id="watched" value="watched" onclick="fetchFeed()">
      <label for="watched">Watched</label>
    </li>
    <li>
      <input type="radio" name="filter" id="new-to-you" value="new-to-you" onclick="fetchFeed()">
      <label for="new-to-you">New to you</label>
    </li>
  </ul>
  <section class="recommended" id="videos-container">
<!--  FIXME: Videos aren't being displayed anymore. Seems like home.js isn't running after base.js -->
  </section>
</section>
{% endblock %}
