{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/home-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <ul class="nav-links">
    <!-- TODO: Use fetch api -->
    <li>All</li>
    <li>Gaming</li>
    <li>Yu-Gi-Oh! -5Ds</li>
    <li>Mixes</li>
    <li>Ismail ibn Musa Menk</li>
    <li>Vegeta</li>
    <li>Comic books</li>
    <li>Live</li>
    <li>Gyms</li>
    <li>Computer programming</li>
    <li>Software Engineering</li>
    <li>Manga</li>
    <li>Dragon ball Super</li>
    <li>Yu Gi oh! Gx</li>
    <li>ShotGunRaids</li>
    <li>Belief</li>
    <li>Smartphones</li>
    <li>Weight Training</li>
    <li>Recently uploaded</li>
    <li>Watched</li>
    <li>New to you</li>
  </ul>
  <section class="recommended">
    {% for video in recommended_videos %}
    <a href="{% url "watch-video" %}">
      <div class="video">
        <img
          src="{{ video.thumbnail.url }}"
          alt="{{ video.thumbnail.url }}"
          width="373"
          height="209"
        />
        <p class="video-title" style="font-weight: bold; font-size: 20px">
          {{ video.title }}
        </p>
        <p class="video-channel" style="color: rgb(163, 161, 161)">
          <!-- FIXME: author id is displayed, but change it to their username -->
          {{ video.author }}
        </p>
        <p class="video-views" style="color: rgb(163, 161, 161)">
          {{ video.views }} views
        </p>
      </div>
    </a>
    {% endfor %}

    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
    <div class="video">
      <img
        src="{% static 'images/elemental-hero-neos.webp' %}"
        alt="elemental-hero-neos"
        width="373"
        height="209"
      />
      <p class="video-title" style="font-weight: bold; font-size: 20px">
        Elemental Hero Neos
      </p>
      <p class="video-channel" style="color: rgb(163, 161, 161)">Jaden Yuki</p>
      <p class="video-views" style="color: rgb(163, 161, 161)">222k views</p>
    </div>
  </section>
</section>
{% endblock %}
