{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/home-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% load static %}
<script src="{% static 'home/js/home.js' %}"></script>
<script>
  let get_subscriptions_url = "{% url 'get-subscriptions' %}";
</script>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <ul class="nav-links">
    <!-- TODO: Use fetch api -->
    <li>All</li>
    <li>Gaming</li>
    <li>Yu-Gi-Oh! -5Ds</li>
    <li>Mixes</li>
    <li>Ismail ibn Musa Menk</li>
    <li>Vegeta</li>
    <li>Comic books</li>
    <li>Live</li>
    <li>Gyms</li>
    <li>Computer programming</li>
    <li>Software Engineering</li>
    <li>Manga</li>
    <li>Dragon ball Super</li>
    <li>Yu Gi oh! Gx</li>
    <li>ShotGunRaids</li>
    <li>Belief</li>
    <li>Smartphones</li>
    <li>Weight Training</li>
    <li>Recently uploaded</li>
    <li>Watched</li>
    <li>New to you</li>
  </ul>
  <section class="recommended">
    {% for video in recommended_videos %}
    <a href="{% url 'watch-video' video_id=video.id %}" class="video-link">
      <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{{ video.thumbnail.url }}"
          alt="{{ video.thumbnail.url }}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <a href="{% url 'view-channel' channel_username=video.author.username %}">
              <img
                src="{{ video.author.profile_pic.url }}"
                alt="elemental-hero-nebula-neos"
                width="40"
                height="40"
              />
            </a>
          </div>
          <section>
            <p class="video-title" style="">
              {{ video.title }}
            </p>
            <a href="{% url 'view-channel' channel_username=video.author.username %}" class="video-channel" >
              {{ video.author }}
            </a>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              {{ video.views }} views
            </p>
          </section>
        </section>
      </div>
    </a>
    {% endfor %}

    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos.webp' %}"
          alt="{% static 'images/elemental-hero-neos.webp' %}"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
  </section>
</section>
{% endblock %}
