{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Your playlists - YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/playlists-page-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{% static 'home/js/playlists.js' %}"></script>
<script>
  let watch_video_url = "{% url 'watch-video' video_id=1234 %}"
</script>
{% endblock %}
{% block content %}
<section class="main-content">
  <h1 style="font-size: 40px">Playlists</h1>
  <select
    name="playlist-filter"
    id="playlist-filter"
    style="width: fit-content"
  >
    <option value="A-Z">A-Z</option>
    <option value="Recently Added">Recently Added</option>
  </select>
  <section class="playlists-container">
    {% for playlist_id, playlist_info in data.items %}
      <section class="playlist-info">
<!--        TODO: If link below is selected, make it so that all videos from the playlist are listed in chronological order, -->
<!--              where next video is played automatically after the current video finishes-->
        <a href="{% url 'watch-video' video_id=playlist_info.video_id %}" class="play-video-link">
          <div class="video">
            <img
              src="{{ playlist_info.thumbnail }}"
              alt="title"
              width="276"
              height="155"
            />
          </div>
          <p class="playlist-title">{{ playlist_info.title }}</p>
  <!--        <p class="playlist-owner">{{ playlist.owner }}</p>-->
          <p class="playlist-visibility">{{ playlist_info.visibility }} . Playlist</p>
          <a href="{% url 'view-playlist' playlist_id=playlist_id %}" class="playlist-link"><p>View full playlist</p></a>
        </a>
      </section>
    {% endfor %}
{% endblock %}
