{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Subscriptions - YouTube Clone{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'home/subscriptions-page-styles.css' %}"
/>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <div class="top-bar">
    <h4>Latest</h4>
    <div class="option-buttons">
      <button>Manage</button>
      <button>2</button>
      <button>3</button>
    </div>
  </div>
  <section class="latest-videos">
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-neos-2.webp' %}"
          alt="elemental-hero-neos-2"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-flare-neos.jpg' %}"
          alt="elemental-hero-flare-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Flare Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-shining-neos-wingman.jpg' %}"
        alt="elemental-hero-shining-neos-wingman"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Shining Neos Wingman
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-chaos-neos.jpg' %}"
          alt="elemental-hero-chaos-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Chaos Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-glow-neos.jpg' %}"
          alt="elemental-hero-glow-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Glow Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-nebula-neos.png' %}"
          alt="elemental-hero-nebula-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Nebula Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-aqua-neos.webp' %}"
          alt="elemental-hero-aqua-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-marine-neos.jpg' %}"
          alt="elemental-hero-marine-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-air-neos.jpg' %}"
          alt="elemental-hero-air-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-storm-neos.webp' %}"
          alt="elemental-hero-storm-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-dark-neos.webp' %}"
          alt="elemental-hero-dark-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
    <div class="video">
        <!-- TODO: Make it so that the video is played a few seconds after hovering over the thumbnail. -->
        <img
          src="{% static 'images/elemental-hero-cosmo-neos.png' %}"
          alt="elemental-hero-cosmo-neos"
          width="373"
          height="209"
        />
        <section class="video-info">
          <div class="channel-icon">
            <img
              src="{% static 'images/elemental-hero-nebula-neos.png' %}"
              alt="elemental-hero-nebula-neos"
              width="36"
              height="36"
            />
          </div>
          <section>
            <p class="video-title" style="font-weight: bold; font-size: 20px">
              Elemental Hero Neos
            </p>
            <p class="video-channel" style="color: rgb(163, 161, 161)">
              <!-- FIXME: author id is displayed, but change it to their username -->
              Jaden Yuki
            </p>
            <p class="video-views" style="color: rgb(163, 161, 161)">
              222k views views
            </p>
          </section>
        </section>
      </div>
  </section>
</section>
{% endblock %}
