:root {
  color-scheme: light dark;
}


.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: light-dark(white, black) !important;
  color: light-dark(black, white);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}
