<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'channel/css/base-styles.css' %}" />
    {% block styles %}{% endblock %} {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include "channel/header.html" %}
    <main>
      <aside class="side-menu">
        <div class="profile">
          <img
            src="https://picsum.photos/seed/picsum/112/112"
            alt="[fetched image]"
            width="112"
            height="112"
          />
        </div>
        <ul class="menu-links">
          <li><a href="">Dashboard</a></li>
          <li><a href="">Content</a></li>
          <li><a href="">Analytics</a></li>
          <li><a href="">Community</a></li>
          <li><a href="">Subtitles</a></li>
          <li><a href="">Copyright</a></li>
          <li><a href="">Earn</a></li>
          <li><a href="">Customization</a></li>
          <li><a href="">Audio library</a></li>
          <li><a href="">Settings</a></li>
          <li><a href="">Send feedback</a></li>
        </ul>
      </aside>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
