{% extends "channel/base.html" %}
<!-- prettier-ignore -->
{% block title %}Channel dashboard{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'channel/css/content-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% load static %}
<script src="{% static 'channel/js/content.js' %}"></script>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <h1>Channel content</h1>
  <nav class="content-navbar">
    <ul class="navbar-links">
      <li><button type="button" onclick="fetchVideos()">Videos</button></li>
      <li><button type="button" onclick="fetchShorts()">Shorts</button></li>
      <li><button type="button" onclick="">Live</button></li>
      <li><button type="button" onclick="">Posts</button></li>
      <li>
        <button type="button" onclick="">Playlists</button>
      </li>
      <li>
        <button type="button" onclick="">Podcasts</button>
      </li>
      <li>
        <button type="button" onclick="">Promotions</button>
      </li>
    </ul>
  </nav>

  <section id="dynamic">
    {% for video in videos %}
    <!-- prettier-ignore -->
    <img src="{{ video.thumbnail.urls }} " alt="{{ video.thumbnail.url }}" width="120" height="68">

    <!-- prettier-ignore -->
    {% endfor %}
    <!--
    <table>
      <tr>
        <th>Videos</th>
        <th>visibility</th>
        <th>Live</th>
        <th>Posts</th>
        <th>Playlists</th>
        <th>Podcasts</th>
        <th>Promotions</th>
      </tr>
    </table>

    <!--
    <section class="video-container">
      <img
        src="https://picsum.photos/seed/picsum/120/68"
        alt="alt"
        width="120"
        height="68"
      />
      <div class="video-info">
        <p class="title">Title</p>
        <p class="description">Description</p>
      </div>
    </section>
    -->
  </section>
</section>
{% endblock %}
