{% extends "channel/base.html" %}
<!-- prettier-ignore -->
{% block title %}Channel dashboard{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'channel/css/dashboard-styles.css' %}" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% load static %}
<script src="{% static 'channel/js/dashboard.js' %}"></script>
<script src="https://esm.run/@material/web/all.js" type="module"></script>

<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="main-content">
  <section class="main-content-top-bar">
    {% if messages %}
    <!-- prettier-ignore -->
    {% for message in messages %}
    {{ message }} 
    {% endfor %}
    <!-- prettier-ignore -->
    {% endif %}
    <h2>Channel dashboard</h2>
    <div class="buttons">
      <!-- TODO: add tooltips -->
      <button type="button" onclick="displayVideoUploader()">
        Upload videos
      </button>
      <section id="video-uploader-container">
        <section class="top">
          <h2>Upload videos</h2>



          <form
            action="http://127.0.0.1:8000/channel/dashboard/upload-video/"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {{ form }}
            <button type="submit">Submit</button>
          </form>
          <div class="upload-buttons">
            <button type="button">Send feedback</button>
            <button type="button">Close</button>
          </div>
        </section>
      </section>
      <button type="button">Go live</button>
      <button type="button">Create post</button>
    </div>
  </section>
  <section class="dashboard">
    <section class="section-1">1</section>
    <section class="section-2">2</section>
    <section class="section-3">3</section>
  </section>
</section>
{% endblock %}
